{% extends 'user/base.html' %}
{% load static %}
{% block title %}Update Account - Vegefoods{% endblock %}

{% block content %} 

  <div class="hero-wrap hero-bread" style="background-image: url({% static "images/bg_1.jpg" %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-12 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Update Account</span></p>
          <h1 class="mb-0 bread">Update Account</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 offset-md-2">
          <div class="bg-white p-4 profile-container">
            <h3>Update Account</h3>
            <form method="POST" action="{% url 'update_profile' user.id %}">
                {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
              </div>
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <small class="form-text text-muted">Leave empty if you do not wish to change your password.</small>
              </div>
              <button type="submit" class="btn btn-primary py-3 px-5">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
