{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Category</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
    <!-- Include SweetAlert CSS and JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      {% include 'admin/sidebar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% include 'admin/navbar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Edit Category</h4>
                    <form method="POST" action="{% url 'edit_category' category.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="categoryName">Category Name</label>
                          <input type="text" class="form-control" id="categoryName" name="category_name" value="{{ category.category_name }}" required>
                      </div>
                      <div class="form-group">
                          <label for="categoryImage">Category Image</label>
                          <input type="file" class="form-control" id="categoryImage" name="category_image">
                          {% if category.category_image %}
                          <img src="{{ category.category_image.url }}" alt="Category Image" style="max-width: 200px; margin-top: 10px;">
                          {% endif %}
                      </div>
                      <div class="form-group">
                          <label for="categoryOffer">Category Offer</label>
                          <input type="text" class="form-control" id="categoryOffer" name="category_offer" value="{{ category.category_offer }}">
                      </div>
                      <div class="form-group">
                          <label for="categoryUnit">Category Unit</label>
                          <input type="text" class="form-control" id="categoryUnit" name="category_unit" value="{{ category.category_unit }}">
                      </div>
                      <button type="submit" class="btn btn-success">Update Category</button>
                      <a href="{% url 'category_management' %}" class="btn btn-secondary">Cancel</a>
                  </form>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'admin/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'admin/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <script src="{% static 'admin/js/settings.js' %}"></script>
    <script src="{% static 'admin/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->

    {% if errors %}
    <script>
        Swal.fire({
            title: 'Error!',
            html: `{% for field, error_list in errors.items %}
                    {{ error_list|join:', ' }}<br>
                   {% endfor %}`,
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {% endif %}
  </body>
</
