{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
</head>
<body>
    <div class="container-scroller">
        {% include 'admin/sidebar.html' %}
        <div class="container-fluid page-body-wrapper">
            {% include 'admin/navbar.html' %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Revenue and Sales Metrics -->
                    <div class="row">
                        <!-- Total Sales Amount -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Total Sales Amount</h5>
                                    <p class="text-muted">The overall sales revenue from all orders placed on the platform.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">₹{{ total_sales_price }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Sales Amount of Completed Orders -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Completed Order Sales</h5>
                                    <p class="text-muted">Total revenue from orders that have been successfully delivered.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">₹{{ total_sales_delivered }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Refunds -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Refunded Amount</h5>
                                    <p class="text-muted">The total amount refunded for canceled or returned items.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">₹{{ total_refunds }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Number of Orders -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Total Number of Orders</h5>
                                    <p class="text-muted">The total count of all orders placed.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_orders }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Delivered Orders -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Delivered Orders</h5>
                                    <p class="text-muted">The total number of orders that have been delivered successfully.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_orders_delivered }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Canceled Items -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Canceled Items</h5>
                                    <p class="text-muted">The number of items that were canceled after ordering.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_canceled_items }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Returned Items -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Returned Items</h5>
                                    <p class="text-muted">The total count of items that were returned by customers.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_returned_items }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Total Number of Products Ordered -->
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Products Ordered</h5>
                                    <p class="text-muted">The total number of products ordered from the platform.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_products_ordered }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Total Products in Progress</h5>
                                    <p class="text-muted">Total products that are in Order Pending, Order Confirmed, Shipped, or Out For Delivery status.</p>
                                    <div class="d-flex align-items-center">
                                        <h2 class="mb-0">{{ total_products_in_progress }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    
                    <!-- Top-Selling Products -->
                   
                   
                </div>
               
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'admin/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'admin/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <script src="{% static 'admin/js/settings.js' %}"></script>
    <script src="{% static 'admin/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
</body>
</html>
