
{% extends 'user/base.html' %}
{% load static %}
{% block title %}Home - Vegefoods{% endblock %}


{% block content %} 

  <div class="hero-wrap hero-bread" style="background-image: url({% static "images/bg_1.jpg" %});">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-12 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Address Management</span></p>
          <h1 class="mb-0 bread">Address Management</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="bg-white p-4">
            <h3>Address Management</h3>
            <ul class="list-unstyled">
              <li><a href="#address-management" class="btn btn-link">Manage Addresses</a></li>
              <li><a href="profile.html" class="btn btn-link">Profile Management</a></li>
            </ul>
            <!-- Add New Address Button -->
   
            <a href="{% url 'add_address' %}" class="btn btn-primary py-3 px-5">Add New Address</a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="bg-white p-4 address-container">
            <h3>Manage Addresses</h3>

            <!-- Displaying Addresses -->
            {% for address in address %}
            <div class="address-list">
              
              <div class="address-item">
                <h4>{{address.address_type}}</h4>
                <p>{{address.address}}</p>
                <a href="{% url 'edit_address' address.id %}" class="btn btn-secondary">Edit</a>
                <form method="POST" action="/delete_address" style="display:inline;">
                  <input type="hidden" name="address_id" value="1">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
              
              <hr>

            </div>
            {% endfor %}

            <hr>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}